[Unit]
Description=Run asyncga4-checkpoint.service every 10 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
AccuracySec=30s
Persistent=false

[Install]
WantedBy=timers.target
